.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 0 0 50%;     
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex: 1
}

.right > div {   
    flex: 1;
}


.right div:nth-child(1) {
    flex-grow: 1;
}

.right div:nth-child(2) {
    flex-grow: 2;
}

.right div:nth-child(3) {
    flex-grow: 5;
}

* {
    font-size: x-large;
}

h3 {
    color: lightcoral
}

p {
    color: black;
}

.comment, .reply {
    border: 1px solid blue;
    color: blue;
    margin-top: 10px;
}

.comment {
    width: 80%;
    margin-left: 10%;
}
.reply {
    width: 60%;
    margin-left: 30%;   
}

.comment_date {
    float: right;
}

/* Initially hide the div */
.toggle-div {
    display: none;
}

/* When the checkbox is checked, show the div */
input[type="checkbox"]:checked + label + .toggle-div {
    display: block;
}
