Replying to {{ parent_comment.author }}'s chain.

<form method="post" action="{% url 'posts:add_reply' post_type post_id parent_comment_id %}">
    {% csrf_token %}
    Comment: {{ form.content }}
    <!-- These fields are "on" the html page but you can't see them. I need them included here or I get an
    invalid form error. I spent a long time trying to fix it but can't find a way. I even tried manually
    setting the values in the view but that wasn't working either.-->
    <div style="display: none;">
        {{ form.author }}
        {{ form.task }}
        {{ form.bill }}
        {{ form.event }}
        {{ form.parent_comment }}
    </div>
    <button type="submit">Submit</button>
</form>