{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- htmx script -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<!-- htmx csrf_token passage -->
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'></body>

<p>
    <b> {{ post_name }} </b>
<br> <b>Description:</b> {{ description }}
<br> <b>Date Posted:</b> {{ date_created }}
<br> <b>Cost:</b> ${{ cost }}
<br> <b>Split?:</b> {{ split }}
<br> <b>Your Portion:</b> ${{ individual_portion }}
<br> <b>Who To Pay:</b> <!-- Field not ready yet -->
</p>
<form method="post" hx-post="{% url 'posts:add_comment' post_id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Comment</button>
</form>


<p>
    <div style="width: 100%; margin: auto; border: 2px solid; color: rgb(252, 0, 0);">
    <b>Comments:</b>
    {% for parent_comment, replies in threads.items %}
        <!-- Print out the parent comment -->
        <div class="comment">
            {{ parent_comment.author }}<a class="comment_date"> posted at {{ parent_comment.date_time }}</a>
            <br><br>{{ parent_comment.content}}
            <a href="{% url 'posts:add_reply' 'bill' post_id parent_comment.id %}"> Reply</a>
        </div>
            <!-- Check for replies to the parent comment and print them out -->
            {% for reply in replies %}  
                <div class="reply">
                    <!-- Find alternative to avoid line break other than <a> tag? -->
                    {{ reply.author }} <a class="comment_date"> posted at {{ reply.date_time }}</a>
                    <br><br>{{ reply.content}}
                    <a href="{% url 'posts:add_reply' 'bill' post_id parent_comment.id %}"> Reply</a>
                </div>
            {% endfor %}
    {% endfor %}
    <div>
</p>