{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- htmx script -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<!-- htmx csrf_token passage -->
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'></body>
<p>
    <b> {{ post_name }} </b>
<br> <b>Description:</b> {{ description }}
<br> <b>Date:</b> {{ date_created }}
<br> <b>Time:</b> {{ time }}
<br> <b>Created By:</b> {{ creator }}
</p>

<p>
    <div style="width: 100%; margin: auto; border: 2px solid; color: rgb(252, 0, 0);">
    <b>Comments:</b>
    {% for comment_chain in comment_chain %}
        {% for comment in comment_chain %}
            <!-- Replies -->
            {% if comment.parent_comment %}    
                <div class="reply">
                    <!-- Find alternative to avoid line break other than <a> tag? -->
                    {{ comment.author }} <a class="comment_date"> posted at {{ comment.date_time }}</a>
                    <br>@{{ comment.parent_comment.author}} from {{ comment.parent_comment.date_time}}
                    <br><br>{{ comment.content}}    
                </div>
                
            <!-- Regular comments -->  
            {% else %}
                <div class="comment">
                    {{ comment.author }}<a class="comment_date"> posted at {{ comment.date_time }}</a>
                    <br><br>{{ comment.content}}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <div>
</p>