{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- htmx script -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<!-- htmx csrf_token passage -->
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'></body>
<p>
    <b> {{ post_name }} </b>
<br> <b>Description:</b> {{ description }}
<br> <b>Date:</b> {{ date_created }}
<br> <b>Time:</b> {{ time }}
<br> <b>Created By:</b> {{ creator }}
</p>

<p>
    <div style="width: 100%; margin: auto; border: 2px solid; color: rgb(252, 0, 0);">
    <b>Comments:</b>
    {% for comment in comments %}
        
        <!-- Replies -->
        {% if comment.parent_comment %}    
            <!--<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;
            width: 60%; height: auto; border: 1px solid black;"> -->
            <div class="reply">
                <p> {{ comment.author }}        posted at {{ comment.date_time }}

                <br>Replying to {{ comment.parent_comment.author}}
                
                <br><br>{{ comment.content}}
                </p>
            </div>
            
        <!-- Regular comments -->  
        {% else %}
            <div style="margin-top: 10px; margin-left: auto; margin-right: auto;
            width: 80%; height: auto; border: 1px solid black;">
                <p> {{ comment.author }}        posted at {{ comment.date_time }}
                <br><br>{{ comment.content}}
                </p>
            </div>
        {% endif %}
    {% endfor %}
    <div>
</p>