{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Event {{ event.id }} </title>
    <link href="{% static 'posts/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1> This is a Event with Id {{ event.id }} </h1>

            <h4> Event Attributes </h4>
            <ul>
                {% for field_name, field_value in event_fields.items %}
                    <li>{{ field_name }}: {{ field_value }}</li><br>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div>
                <h3>Server</h3>
                <a href="{% url 'servers:test_server' event.server.id %}">Server Id: {{ event.server.id }} {{ event.server }} </a>
            </div>
            <div>
                <h3>Users</h3>
                I BELIEVE WE SAID EVENTS WOULD BE FOR THE ENTIRE SERVER? - Muhammad
            </div>
            <div>
                <h3>Comments</h3>
                <ul>
                    {% for c in event.comments.all %}
                        <li><a href="{% url 'posts:test_comment' c.id %}">Comment Id: {{ c.id }}</a></li>
                    {% empty %}
                        <li>No comments yet</li>
                    {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>