{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Bill {{ bill.id }} </title>
    <link href="{% static 'posts/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1> This is a Bill with Id {{ bill.id }} </h1>

            <h4> Bill Attributes </h4>
            <ul>
                {% for field_name, field_value in bill_fields.items %}
                    <li>{{ field_name }}: {{ field_value }}</li><br>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div>
                <h3>Server</h3>
                <a href="{% url 'servers:test_server' bill.server.id %}">Server Id: {{ bill.server.id }} {{ bill.server }} </a>
            </div>
            <div>
                <h3>Users</h3>
                Creator = <a href="{% url 'users:test_user' bill.creator.id %}">User Id: {{ bill.creator.id }} {{ bill.creator }} </a>
                <br><br> payers:
                <ul>
                    {% for p in bill.payers.all %}
                        <li>
                            <a href="{% url 'users:test_user' p.id %}">User Id: {{ p.id }} {{ p }} </a>
                        </li>
                    {% empty %}
                        <li>No payers yet</li>
                    {% endfor %}
            </div>
            <div>
                <h3>Comments</h3>
                <ul>
                    {% for c in bill.comments.all %}
                        <li><a href="{% url 'posts:test_comment' c.id %}">Comment Id: {{ c.id }}</a></li>
                    {% empty %}
                        <li>No comments yet</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>