{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Comment {{ comment.id }} </title>
    <link href="{% static 'posts/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1> This is a Comment with Id {{ comment.id }} </h1>

            <h4> Comment Attributes </h4>
            <ul>
                {% for field_name, field_value in comment_fields.items %}
                    <li>{{ field_name }}: {{ field_value }}</li><br>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div>
                <h3 style="flex: 1">User</h3>
                <a href="{% url 'users:test_user' comment.author.id %}">Author Id: {{ comment.author.id }}</a>
            </div>
            <div style="flex: 1">
                <h3>Server</h3>
                <a href="#">Yes this has a server .. need to implement link</a>
            </div>
            <div style="flex: 1">
                <h3>Post</h3>
                {% if post_type == 'event' %}
                    <a href="{% url 'posts:test_event' comment.event.id %}">Event Id: {{ comment.event.id }}</a>
                {% elif post_type == 'chore' %}
                    <a href="{% url 'posts:test_chore' comment.task.id %}">Chore Id: {{ comment.task.id }}</a>
                {% elif post_type == 'bill' %}
                    <a href="{% url 'posts:test_bill' comment.bill.id %}">Bill Id: {{ comment.bill.id }}</a>
                {% endif %}
            </div>
            <div style="flex: 5">
                <h3>Related Comments</h3>
                {% if comment.parent_comment %}
                    <h4>Parent comment: <a href="{% url 'posts:test_comment' comment.parent_comment.id %}">Comment Id: {{ comment.parent_comment.id }}</a> </h4>
                {% else %}
                    <h4>Does not have a Parent Comment </h4>
                {% endif %}

                <h4>Replies</h4>
                <ul>
                    {% for reply in comment.replies.all %}
                        <li><a href="{% url 'posts:test_comment' reply.id %}">Reply Id: {{ reply.id }}</a></li>
                    {% empty %}
                        <li>No replies yet</li>
                    {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>