{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Chore {{ chore.id }} </title>
    <link href="{% static 'posts/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1> This is a Chore with Id {{ chore.id }} </h1>

            <h4> Chore Attributes </h4>
            <ul>
                {% for field_name, field_value in chore_fields.items %}
                    <li>{{ field_name }}: {{ field_value }}</li><br>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div>
                <h3>Server</h3>
                <a href="{% url 'servers:test_server' chore.server.id %}">Server Id: {{ chore.server.id }} {{ chore.server }} </a>
            </div>
            <div>
                <h3>Users</h3>
                Creator = <a href="{% url 'users:test_user' chore.creator.id %}">User Id: {{ chore.creator.id }} {{ chore.creator }} </a>
                <br><br> People assigned to chore:
                <ul>
                    {% for a in chore.assignee.all %}
                        <li>
                            <a href="{% url 'users:test_user' a.id %}">User Id: {{ a.id }} {{ a }} </a>
                        </li>
                    {% endfor %}
            </div>
            <div>
                <h3>Comments</h3>
                <ul>
                    {% for c in chore.comments.all %}
                        <li><a href="{% url 'posts:test_comment' c.id %}">Comment Id: {{ c.id }}</a></li>
                    {% empty %}
                        <li>No comments yet</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>