{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Section</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- htmx script -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<!-- htmx csrf_token passage -->
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <h1 style=" font-size:20px; font-weight:bold;">Comment Section:</h1>
    <div class="commentcontainer" style="background-color:white; border-radius: 15px;"> 

        <!-- Create an original comment. -->
        <button style="border-radius: 5px; margin-top: 10px; margin-left: 10px; background-color: rgb(79 70 229); color:white; font-weight:bold" hx-get="{%url 'posts:add_comment' post_type post_id %}" hx-target="#comment-container">Click to Comment</button>
        <div id="comment-container"></div>

        {% for parent_comment, replies in threads.items %}
            <!-- Print out the parent comment -->
            <div class="comment">
                <!-- Put the profile picture and comment post info on the same line -->
                <div style="display: flex; align-items: center;">
                    <img src="{{ parent_comment.author.profile_picture.url }}" alt="Your Profile Picture" class="profile_pic" style="max-width: 5%; max-height: 5%; border-radius: 50%">
                    {{ parent_comment.author }} posted at {{ parent_comment.date_time }}
                </div>
                <div id="parent-comment{{ parent_comment.id }}">{{ parent_comment.content}}</div>

                <!-- A button to make a reply. -->
                <button style="border-radius: 5px; margin-top: 10px; margin-left: 10px; background-color: rgb(79 70 229); color:white; font-weight:bold" hx-get="{%url 'posts:add_reply' post_type post_id parent_comment.id%}" hx-target="#reply-container{{ parent_comment.id }}">Reply</button>

                <!-- If the user is the creator of the comment, allow them the option to edit or delete it. -->
                {% if parent_comment.author == current_user %}
                    <!-- Edit button -->
                    <button style="border-radius: 5px; margin-top: 10px; margin-left: 10px; background-color: rgb(79 70 229); color:white; font-weight:bold" hx-get="{% url 'posts:edit_comment' post_type post_id parent_comment.id %}" hx-target="#parent-comment{{ parent_comment.id }}">Edit</button>

                    <!-- Delete button -->
                    <button style="border-radius: 5px; margin-top: 10px; margin-left: 10px; background-color: rgb(79 70 229); color:white; font-weight:bold" hx-post="{% url 'posts:delete_comment' post_type post_id parent_comment.id %}" hx-target="#comment-section">Delete</button>
                {% endif %}
            </div>

                <!-- Check for replies to the parent comment and print them out -->
                {% for reply in replies %}  
                    <div class="reply">
                        <!-- Put the profile picture and comment post info on the same line -->
                        <div style="display: flex; align-items: center;">
                            <img src="{{ parent_comment.author.profile_picture.url }}" alt="Your Profile Picture" class="profile_pic" style="max-width: 5%; max-height: 5%; border-radius: 50%">
                            {{ reply.author }} posted at {{ reply.date_time }}
                        </div>
                        <div id="reply-comment{{ reply.id }}">{{ reply.content}}</div>

                        <!-- A button to make a reply. -->
                        <button style="border-radius: 5px; margin-top: 10px; margin-left: 10px; background-color: rgb(204, 111, 6); color:white; font-weight:bold" hx-get="{%url 'posts:add_reply' post_type post_id parent_comment.id %}" hx-target="#reply-container{{ parent_comment.id }}">Reply</button>

                        <!-- If the user is the creator of the comment, allow them the option to edit or delete it. -->
                        {% if reply.author == current_user %}
                            <!-- Edit button -->
                            <button style="border-radius: 5px; margin-top: 10px; margin-left: 10px; background-color: rgb(204, 111, 6); color:white; font-weight:bold" hx-get="{% url 'posts:edit_comment' post_type post_id reply.id %}" hx-target="#reply-comment{{ reply.id }}">Edit</button>

                            <!-- Delete button -->
                            <button style="border-radius: 5px; margin-top: 10px; margin-left: 10px; background-color: rgb(204, 111, 6); color:white; font-weight:bold" hx-post="{% url 'posts:delete_comment' post_type post_id reply.id %}" hx-target="#comment-section">Delete</button>
                        {% endif %}
                    </div>
                {% endfor %} <!-- End replies loop -->
                <div id="reply-container{{ parent_comment.id }}"></div>
        {% endfor %} <!-- End parent loop -->
        
    </div>
</body>
</html>