{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Section</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- htmx script -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<!-- htmx csrf_token passage -->
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'></body>
<p>
    <div style="width: 100%; margin: auto; border: 2px solid; color: rgb(252, 0, 0);">
    <b>Comment Section:</b>
    <a href="{% url 'posts:add_comment' post_type post_id %}">Click to Comment</a>
    {% for parent_comment, replies in threads.items %}
        <!-- Print out the parent comment -->
        <div class="comment">
            {{ parent_comment.author }}<a class="comment_date"> posted at {{ parent_comment.date_time }}</a>
            <br><br>{{ parent_comment.content}}
            <a href="{% url 'posts:add_reply' post_type post_id parent_comment.id %}"> Reply</a>
            {% if parent_comment.author == current_user %}
                <button class="comment_date">Delete Comment</button>
            {% endif %}
        </div>
            <!-- Check for replies to the parent comment and print them out -->
            {% for reply in replies %}  
                <div class="reply">
                    <!-- Find alternative to avoid line break other than <a> tag? -->
                    {{ reply.author }} <a class="comment_date"> posted at {{ reply.date_time }}</a>
                    <br><br>{{ reply.content}}
                    <a href="{% url 'posts:add_reply' post_type post_id parent_comment.id %}"> Reply</a>
                    {% if reply.author == current_user %}
                        <button class="comment_date">Delete Comment</button>
                    {% endif %}
                </div>
            {% endfor %}
    {% endfor %}
    <div>
</p>