body {
    background-color: white;
    font-size: 14px;
    width: 100%;
}

.billcontainer {
    width: 77%;
    float: right;
    padding: 20px;
}

.billcontent{
    background-color: white;
    border-radius: 25px;
}

.billdescrip {
    margin-left: 15px;
    color: black;
}

.head {
    font-size: 25px;
    font-weight: bold;
}