{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CoHabitat{% endblock %}</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- htmx -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.7.0/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap"rel="stylesheet">
    <link href="{% static 'servers/style.css' %}" rel="stylesheet">
    <script src="{% static 'servers/js/modals_script.js' %}" defer></script>
    <script src="{% static 'servers/js/sidebar_script.js' %}" defer></script>
</head>

<!-- Beginning Of Sidebar -->

<div class="bg-blue-600  font-[Poppins] w-1/5">
    <span class="absolute text-white text-4xl top-5 left-4 cursor-pointer" onclick="Openbar()">
      <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md"></i>
    </span>
    <div class="sidebar fixed top-0 bottom-0 lg:left-0 left-[-300px] duration-1000
      p-2 w-[300px] overflow-y-auto text-center bg-gray-900 shadow h-screen">
      <div class="text-gray-100 text-xl">
        <div class="p-2.5 mt-1 flex items-center rounded-md ">
          <i class="bi bi-app-indicator px-2 py-1 bg-blue-600 rounded-md"></i>
          <h1 class="text-[15px]  ml-3 text-xl text-gray-200 font-bold">CoHabitat</h1>
          <i class="bi bi-x ml-20 cursor-pointer lg:hidden" onclick="Openbar()"></i>
        </div>
        <hr class="my-2 text-gray-600">
  
        <div>
  
          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
            
            <i class="bi bi-card-text"></i>
            <span class="text-[15px] ml-4 text-gray-200"><a href="{% url 'users:feed_view' %}">Feed</a></span>
          </div>
          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
            <i class="bi bi-houses-fill"></i>
            <div class="flex justify-between w-full items-center" onclick="dropDown()">
              <span class="text-[15px] ml-4 text-gray-200">Groups</span>
              <span class="text-sm rotate-180" id="arrow">
                <i class="bi bi-chevron-down"></i>
              </span>
            </div>
          </div>
          <div class=" leading-7 text-left text-sm font-thin mt-2 w-4/5 mx-auto" id="submenu">
            {% for server in servers %}
              <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1"><a href="{% url 'servers:server_page' server_id=server.id %}">{{ server.group_name }}</a></h1>     
            {% endfor %}
          </div>
          <hr class="my-4 text-gray-600">
          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600">
            <i class="bi bi-person-circle"></i>
            <span class="text-[15px] ml-4 text-gray-200"> <a href="{% url 'users:profile' %}">Your Account</a></span>
          </div>
  
          <!-- Notifications -->
          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600"
          hx-get="{% url 'users:unread_notification_count' %}" hx-trigger="every 3s" hx-swap="innerHTML" hx-target="#unread-count">
            <i class="bi bi-bell"></i>
            <span class="ml-1 text-sm font-semibold text-red-500" id="unread-count"></span>
            <span class="text-[15px] ml-4 text-gray-200"> <a href="{% url 'users:notification_page' %}">Notifications</a></span>
          </div>
          
          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600"
                  onclick="toggleJoinForm()">
                  <i class="bi bi-person-circle"></i>
                  <span class="text-[15px] ml-4 text-gray-200">Join Server</span>
              </div>
              
              <!-- Join Server Form -->
          <form id="joinServerForm" class="hidden" hx-post="{% url 'servers:join_server' %}">
            {% csrf_token %}
            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600">
              <input type="text" name="token" placeholder="Enter Invitation Code" class="text-gray-200 ml-4 bg-transparent border-none focus:ring-0">
            </div>
            <button type="submit" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600">
              Join
            </button>
          </form> 
  
  
          <!-- Toggle create server form / page with JS  -->
          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600"
          onclick="toggleCreateForm()">
          <i class="bi bi-box-arrow-in-right"></i>
          <span class="text-[15px] ml-4 text-gray-200">Create Server</span>
          </div>
          
          <!-- form that pops up when toggled with onclick - submitted with htmx -->
          <form id="createServerForm" class="hidden" hx-post="{% url 'servers:create_server' %}">
            {% csrf_token %}
            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600">
              <input type="text" name="name" placeholder="Enter Server Name" class="text-gray-200 ml-4 bg-transparent border-none focus:ring-0">
            </div>
            <button type="submit" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600">
              Create
            </button>
          </form> 
  
          <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
            <i class="bi bi-box-arrow-in-right"></i>
            <span class="text-[15px] ml-4 text-gray-200"><a href="{% url 'account_logout' %}">Logout</a></span>
          </div>
  
        </div>
      </div>
    </div>
  
  
    <script>
      function toggleJoinForm() {
      var form = document.getElementById('joinServerForm');
      form.classList.toggle('hidden');
    }
  
    function toggleCreateForm() {
      var form = document.getElementById('createServerForm');
      form.classList.toggle('hidden');
    }
  
    function Openbar() {
        document.querySelector('.sidebar').classList.toggle('left-[-300px]')
    }
    function dropDown() {
      document.querySelector('#submenu').classList.toggle('hidden')
      document.querySelector('#arrow').classList.toggle('rotate-0')
    }
  
    function Openbar() {
      document.querySelector('.sidebar').classList.toggle('left-[-300px]')
    }
  
    const modal = new bootstrap.Modal(document.getElementById("modal"))
  
    htmx.on("htmx:afterSwap", (e) => {
        // Response targeting #dialog => show the modal
        if (e.detail.target.id == "dialog") { modal.show() }
    })
  
    htmx.on("htmx:beforeSwap", (e) => {
        // Empty response targeting #dialog => hide the modal
        if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
            modal.hide()
            e.detail.shouldSwap = false
        }
    })
  
    htmx.on("hidden.bs.modal", () => {
        document.getElementById("dialog").innerHTML = ""
    })
  
    // Auto reload page when new post gets added or gets edited 
    // Or any other change that requires a page refresh to see new changes
    document.body.addEventListener('PageRefreshNeeded', () => {
        window.location.reload();
    });
    </script>
  </div>


<!-- Beginning of main body (everything but the sidebar) -->
<body class="flex min-h-screen bg-blue-600">
    <main class="flex-1 grid grid-cols-3 gap-10 overflow-hidden p-10 mr-20">
        <!-- First Scrollable Container -->
        <div class="bg-gray-200 overflow-y-auto rounded-lg h-[calc(100vh-5rem)]">
            <div class="flex justify-between items-center">
                <h2 class="text-2xl font-bold mt-5 mb-5 ml-6">Tasks & Chores</h2>
                <a class="flex items-center px-3 py-2 text-lg rounded-lg bg-gold text-black hover:bg-yellow-500 hover:text-black mr-6"
                            href="{%url 'servers:leaderboard' %}" hx-get="{%url 'servers:leaderboard' %}"
                            hx-target="#dialog">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 0l2.45 6.294L18 7.215l-4.364 3.57 1.305 6.376L10 15.26l-5.94 3.901 1.305-6.376L2 7.215l5.55-0.92L10 0z"/>
                            </svg> Leaderboard
                        </a>
                </a>
            </div>
                              
            <a hx-get="{% url 'servers:add_task' server_id %}" hx-target="#dialog" class="">
                <div class="bg-white p-4 rounded-lg shadow-md mt-4 mb-5 block hover:bg-blue-400 mx-5">
                    <p class="text-lg font-bold text-center">Add Task & Chore</p>
                </div>
            </a>
            
            {% for t in tasks %}
            <a href="{% url 'posts:chore' t.id %}">
                <div class="bg-white p-4 rounded-lg shadow-md mt-6 mx-5 transition-transform duration-300 transform hover:hover:scale-105 {% if forloop.last %}mb-10{% endif %}">
                    <h3 class="text-xl font-bold">{{ t.post_name }}</h3>
                    <p class="text-gray-600">{{ t.description }}</p>
                    <div class="flex justify-between items-center mt-2">
                        <span class="text-sm text-gray-400">{{ t.assigned_date | date:"l F d, Y" }}</span>
                        <div class="flex space-x-2">
                            <!-- Button for editing task. Only available if you are creator of task -->
                            {% if t.assigner == request.user %}
                            <a class="px-3 py-1 text-sm rounded bg-blue-500 text-white hover:bg-blue-600"
                                href="{%url 'servers:edit_task' t.id %}" hx-get="{%url 'servers:edit_task' t.id %}"
                                hx-target="#dialog">Edit Task</a>
                            {% endif %}

                            {% if t.assigner == request.user and t.swap_requests and t.swap_request.requester == request.user and t.swap_request.status == 'Accepted'%}
                            <a class="px-3 py-1 text-sm rounded bg-blue-500 text-white hover:bg-blue-600"
                                href="{%url 'servers:edit_task' t.id %}" hx-get="{%url 'servers:edit_task' t.id %}"
                                hx-target="#dialog">Swap Request Accepted</a>
                            {% endif %}
                            <!-- Button for toggling swap request modal -->
                            {% if request.user not in t.assignee.all and t.completed == False %}
                                {% if t.swap_requests %}
                                    <a class="px-3 py-1 text-sm rounded bg-blue-500 text-white hover:bg-blue-600"
                                    href="{% url 'servers:swap_offer' task_id=t.id %}"
                                    hx-get="{% url 'servers:swap_offer' task_id=t.id %}"
                                    hx-target="#dialog">User is requesting swap</a>
                                {% endif %}
                            {% endif %}
                            {% if request.user in t.assignee.all and t.assignee.count != participation.count and t.completed == False %}
                                {% if t.user_has_swap_requests%}
                                    <a class="px-3 py-1 text-sm rounded bg-blue-500 text-white hover:bg-blue-600"
                                    href="{% url 'servers:manage_swap_request' swap_request_id=t.swap_request.id %}"
                                    hx-get="{% url 'servers:manage_swap_request' swap_request_id=t.swap_request.id %}"
                                    hx-target="#dialog">Manage My Swap Request</a>
                                {% elif t.user_has_declined_swap_requests %}
                                    <a class="px-3 py-1 text-sm rounded bg-red-600 text-white">Swap Request Declined</a>
                                {% else %}
                                    <a class="px-3 py-1 text-sm rounded bg-blue-500 text-white hover:bg-blue-600"
                                    href="{% url 'servers:swap_request' t.id %}"
                                    hx-get="{% url 'servers:swap_request' t.id %}"
                                    hx-target="#dialog">Make a Swap Request</a>
                                {% endif %}
                            {% endif %}
                            {% if request.user not in t.assignee.all and t.assignee.count != participation.count and t.user_has_accepted_swap_requests %}
                                <div class="px-3 py-1 text-sm rounded bg-green-600 text-white">Swap Request Accepted</div>
                            {% endif %}
                            {% if t.assigner == request.user %}
                            <a class="px-3 py-1 text-sm rounded bg-blue-500 text-white hover:bg-blue-600"
                                href="{%url 'servers:assign_task' t.id %}" hx-get="{%url 'servers:assign_task' t.id %}"
                                hx-target="#dialog">Assign Task</a>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="my-2 border-gray-300">
                    <ul class="text-sm text-gray-600">
                        <li>Assigner / Post Creator: {% if request.user == t.assigner %} You {% else %} {{t.post_creator }} {% endif %}
                        </li>
                        <li>People Assigned to this task: {% for p in t.assignee.all %}
                            {% if p == request.user %}You{% else %}{{ p.first_name }} {{ p.last_name }}{% endif %}{%if not forloop.last%},
                            {% endif %}{% empty %} none
                            {% endfor %}
                        </li>
                        <li>People who completed this task: {% for p in t.assignees_completed.all %}
                            {% if p == request.user %}You{% else %}{{ p.first_name }} {{ p.last_name }}{% endif %}{%if not forloop.last%},
                            {% endif %}{% empty %} none
                            {% endfor %}
                        </li>
                        <li>Due date: {{ t.due_date | date:"l F d, Y" }} </li>
                        {% if t.completed %}
                            <li class="mt-2"></li>
                            <a class="mt-2 px-3 py-1 text-sm rounded bg-green-600 text-white">Completed</a>
                            {% else %}<li>Not yet completed</li>{% endif %}
                        <li class ="mt-1">  </li>
                    </ul>
                        {% if request.user not in t.assignees_completed.all and request.user in t.assignee.all %}
                            <a href="{% url 'servers:mark_as_complete' t.id %}" 
                            hx-get="{% url 'servers:mark_as_complete' t.id %}"
                            hx-target="#dialog"
                            class="px-3 py-1 text-sm rounded bg-blue-600 text-white hover:bg-green-600">
                                Mark as Complete
                            </a>
                        {% endif %}
                        {% if t.assigner == request.user %}
                        <a href="#" hx-get="{% url 'servers:delete_post' post_type='chore' post_id=t.id %}" hx-target="#dialog" title="Delete Post"
                            class="absolute bottom-2 right-2">
                            <svg width="40px" height="40px" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 18h2v16h-2z"/>
                                <path d="M24 18h2v16h-2z"/>
                                <path d="M28 18h2v16h-2z"/>
                                <path d="M12 12h26v2H12z"/>
                                <path d="M30 12h-2v-1c0-.6-.4-1-1-1h-4c-.6 0-1 .4-1 1v1h-2v-1c0-1.7 1.3-3 3-3h4c1.7 0 3 1.3 3 3v1z"/>
                                <path d="M31 40H19c-1.6 0-3-1.3-3.2-2.9l-1.8-24 2-.2 1.8 24c0 .6.6 1.1 1.2 1.1h12c.6 0 1.1-.5 1.2-1.1l1.8-24 2 .2-1.8 24C34 38.7 32.6 40 31 40z"/>
                            </svg>
                        </a>
                        {% endif %}

                 </div>
    
            </a>
            {% endfor %}
        </div>
        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>


        <!-- Second Scrollable Container -->
        <div class="bg-gray-200 overflow-y-auto rounded-lg h-[calc(100vh-5rem)]">
            <h2 class="text-2xl font-bold mt-5 mb-5 ml-6">Bills</h2>
            <a hx-get="{% url 'servers:add_bill' server_id %}" hx-target="#dialog" class="">
                <div class="bg-white p-4 rounded-lg shadow-md mt-4 mb-5 block hover:bg-blue-400 mx-5">
                    <p class="text-lg font-bold text-center">Add Bill</p>
                </div>
            </a>
            {% for b in bills %}
            <a href="{% url 'posts:bill' b.id %}">
                <div class="bg-white p-4 rounded-lg shadow-md mt-6 mx-5 block transition-transform duration-300 transform hover:hover:scale-105 {% if forloop.last %}mb-10{% endif %}">
                    <h3 class="text-xl font-bold">{{ b.post_name }}</h3>
                    <p class="text-gray-600">{{ b.description }}</p>
                    <div class="flex justify-between items-center mt-2">
                        <span class="text-sm text-gray-400">{{ b.posted_date | date:"l F d, Y" }}</span>
                        <div class="flex space-x-2">
                            <!-- Button for adding event. Only available on bills you created -->
                            {% if b.bill_creator == request.user %}
                            <a class="px-3 py-1 text-sm rounded bg-blue-500 text-white hover:bg-blue-600"
                                href="{%url 'servers:edit_bill' b.id %}" hx-get="{%url 'servers:edit_bill' b.id %}"
                                hx-target="#dialog">Edit Bill</a>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="my-2 border-gray-300">
                    <ul class="text-sm text-gray-600">
                        <li>Creator: {% if request.user == b.bill_creator %} You {% else %} {{ b.post_creator }} {% endif %}</li>
                        <li>Cost: {{ b.cost }}</li>
                        <li>Payers: {{ b.payers_string }}</li>
                        <li>Payers who have paid: {{ b.payers_paid_string }}</li>
                        {% if b.split %}
                        <li>Your split: {{ b.portion }}</li>
                        {% else %}
                        <li>Bill is not being split</li>
                        {% endif %}
                        {% if b.completed %}
                        <li class="mt-2"></li>
                            <a class="mt-2 px-3 py-1 text-sm rounded bg-green-600 text-white">Paid by all payers</a>
                        {% else %}
                        <li>Paid by all payers? No</li>
                        {% endif %}
                        <li class="mt-2"></li>
                    </ul>
                    {% if request.user not in b.payers_paid.all and request.user in b.payers.all %}
                            <a href="{% url 'servers:mark_as_paid' b.id %}" 
                            hx-get="{% url 'servers:mark_as_paid' b.id %}"
                            hx-target="#dialog"
                            class="px-3 py-1 text-sm rounded bg-blue-600 text-white hover:bg-green-600">
                                Mark as Paid
                            </a>
                    {% endif %}
                    {% if b.bill_creator == request.user %}
                        <a href="#" hx-get="{% url 'servers:delete_post' post_type='bill' post_id=b.id %}" hx-target="#dialog" title="Delete Post"
                            class="absolute bottom-2 right-2">
                            <svg width="40px" height="40px" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 18h2v16h-2z"/>
                                <path d="M24 18h2v16h-2z"/>
                                <path d="M28 18h2v16h-2z"/>
                                <path d="M12 12h26v2H12z"/>
                                <path d="M30 12h-2v-1c0-.6-.4-1-1-1h-4c-.6 0-1 .4-1 1v1h-2v-1c0-1.7 1.3-3 3-3h4c1.7 0 3 1.3 3 3v1z"/>
                                <path d="M31 40H19c-1.6 0-3-1.3-3.2-2.9l-1.8-24 2-.2 1.8 24c0 .6.6 1.1 1.2 1.1h12c.6 0 1.1-.5 1.2-1.1l1.8-24 2 .2-1.8 24C34 38.7 32.6 40 31 40z"/>
                            </svg>
                        </a>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>





        <!-- Third Scrollable Container -->
        <div class="grid grid-cols-1 gap-8 h-[calc(100vh-5rem)]">
            <!-- People Container -->
            <div class="bg-gray-200 overflow-y-auto rounded-lg h-[calc(100vh-5rem)*1/3]">
                <h2 class="text-2xl font-bold mt-5 mb-5 ml-6">People</h2>
                <!-- Button for inviting to group -->
                <a hx-get="{% url 'servers:invitation' server_id=server_id %}" hx-target="#dialog" class="">
                    <div class="bg-white p-4 rounded-lg shadow-md mt-4 mb-5 block hover:bg-blue-400 mx-5">
                        <p class="text-lg font-bold text-center">Invite to Group</p>
                    </div>
                </a>               
                {% for p in participation %}
                <div class="bg-white p-4 rounded-lg shadow-md mt-6 mx-5 block transition-transform duration-300 transform hover:hover:scale-105 {% if forloop.last %}mb-10{% endif %}" >
                    <div class="flex justify-between items-center">
                        <h3 class="text-xl font-bold">{{ p.display_name }}</h3>
                        {% if p.is_owner %}
                        <span class="text-sm font-bold text-gray-400">Owner</span>
                        {% endif %}
                    </div>
                    <p class="text-gray-600">Joined: {{ p.date_joined }}</p>
                </div>
                {% endfor %}
            </div>

            <!-- Events Container -->
            <div class="bg-gray-200 overflow-y-auto rounded-lg h-[calc(100vh-5rem)*2/3]">
                <h2 class="text-2xl font-bold mt-5 mb-5 ml-6">Events</h2>

                <!-- Button for adding event -->
                <a hx-get="{% url 'servers:add_event' server_id %}" hx-target="#dialog" class="">

                    <div class="bg-white p-4 rounded-lg shadow-md mt-4 mb-5 block hover:bg-blue-400 mx-5">
                        <p class="text-lg font-bold text-center">Add Event</p>
                    </div>
                </a>
                {% for e in events %}
                <a href="{% url 'posts:event' e.id %}">
                    <div class="bg-white p-4 rounded-lg shadow-md mt-6 mx-5 block transition-transform duration-300 transform hover:hover:scale-105 {% if forloop.last %}mb-10{% endif %}">
                        <h3 class="text-xl font-bold">{{ e.post_name }}</h3>
                        <p class="text-gray-600">{{ e.description }}</p>
                        <div class="flex justify-between items-center mt-2">
                            <span class="text-sm text-gray-400">{{ e.date_created | date:"l F d, Y" }}</span>
                            <div class="flex space-x-2">
                                 <!-- Button for editing event. Only available if you are creator of event -->
                                {% if e.creator == request.user %}
                                <a class="px-3 py-1 text-sm rounded bg-blue-500 text-white hover:bg-blue-600"
                                    href="{%url 'servers:edit_event' e.id %}" hx-get="{%url 'servers:edit_event' e.id %}"
                                    hx-target="#dialog">Edit Event</a>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="my-2 border-gray-300">
                        <ul class="text-sm text-gray-600">
                            <li>When is it: {{ e.date_time | date:"l F d, Y, h:i A" }}</li>
                            <li>Original poster: {% if request.user == e.creator %} You {% else %} {{ e.post_creator }} {% endif %}</li>
                        </ul>
                        {% if e.creator == request.user %}
                            <a href="#" hx-get="{% url 'servers:delete_post' post_type='event' post_id=e.id %}" hx-target="#dialog" title="Delete Post"
                                class="absolute bottom-2 right-2">
                                <svg width="40px" height="40px" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 18h2v16h-2z"/>
                                    <path d="M24 18h2v16h-2z"/>
                                    <path d="M28 18h2v16h-2z"/>
                                    <path d="M12 12h26v2H12z"/>
                                    <path d="M30 12h-2v-1c0-.6-.4-1-1-1h-4c-.6 0-1 .4-1 1v1h-2v-1c0-1.7 1.3-3 3-3h4c1.7 0 3 1.3 3 3v1z"/>
                                    <path d="M31 40H19c-1.6 0-3-1.3-3.2-2.9l-1.8-24 2-.2 1.8 24c0 .6.6 1.1 1.2 1.1h12c.6 0 1.1-.5 1.2-1.1l1.8-24 2 .2-1.8 24C34 38.7 32.6 40 31 40z"/>
                                </svg>
                            </a>
                        {% endif %}
                    </div>

                </a>
                {% endfor %}
                
            </div>
        </div>

        <!-- Target for htmx modal -->
        <div id="modal" class="modal fade">
            <div id="dialog" class="modal-dialog" hx-target="this"></div>
        </div>
        
    </main>
    
</body>
</html>

