{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server {{ server_id }}</title>
    <script src="{% static 'servers/js/modals_script.js' %}" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.7.0/dist/htmx.js"></script>
    <link href="{% static 'servers/css/style.css' %}" rel="stylesheet">
    <style>
       
    </style>
   
</head>
<body>

    <div id="container">
        <div id="tasks" class="scroll posts">
            <div id="task-nav" class="post-nav">
                <h2 style="text-align: center;">Tasks for {{ tasks.first.server.group_name }}</h2>
                <a hx-get="{% url 'servers:add_task' tasks.first.server.id %}" hx-target="#dialog" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                      </svg>
                </a>
            </div>

            {% for t in tasks %}
            <a href="{% url 'posts:test_chore' t.id %}"><h3>{{ t.post_name }}</h3></a>
            <a class="btn btn-sm btn-info" href="{%url 'posts:chore' t.id %}">See Post</a>
            {% if t.assigner == request.user %}
                <a class="btn btn-sm btn-outline-primary" hx-get="{%url 'servers:edit_task' t.id %}" hx-target="#dialog">Edit Task</a>
            {% endif %}

                <ul>
                    <li> description: {{ t.description }} </li>
                    <li> Assigned date (post created): {{ t.assigned_date | date:"l F d, Y" }} </li>   
                    <li> Assigner / Post Creator: {% if request.user == t.assigner %} You {% else %} {{ t.assigner }} {% endif %} </li> 
                    <li> People Assigned to this task: {% for p in t.assignee.all %} 
                        {% if p == request.user %}You{% else %}{{ p.first_name }} {{ p.last_name }}{% endif %}{% if not forloop.last %},{% endif %}{% empty %} none 
                        {% endfor %} 
                    </li>
                    <li> Due date: {{ t.due_date | date:"l F d, Y" }} </li>
                    {% if t.completed %}
                        <li> Completed: Yes </li>
                    {% else %}
                        <li> Completed: No </li>
                    {% endif %}
                </ul>
                
            {% endfor %}
        </div>

        <div id="bills" class="scroll posts">
            <div id="bill-nav" class="post-nav">
                <h2 style="text-align: center; font-weight: bold; font-size: 28px; ">Bills/Supplies for {{ bills.first.server.group_name }}</h2>
                <a hx-get="{% url 'servers:add_bill' bills.first.server.id %}" hx-target="#dialog" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                      </svg>
                </a>
            </div>

            {% for b in bills %}
            <a href="{% url 'posts:test_bill' b.id %}"><h3>{{ b.post_name }}</h3></a>
            <a class="btn btn-sm btn-info" href="{%url 'posts:bill' b.id %}">See Post</a>
            {% if b.bill_creator == request.user %}
                <a class="btn btn-sm btn-outline-primary" hx-get="{%url 'servers:edit_bill' b.id %}" hx-target="#dialog">Edit Bill</a>
            {% endif %}
                <ul>
                    <li> description: {{ b.description }} </li>
                    <li> date posted: {{ b.posted_date | date:"l F d, Y" }} </li>   
                    <li> creator: {% if request.user == b.bill_creator %} You {% else %} {{ b.bill_creator }} {% endif %} </li> 
                    <li> cost:  {{ b.cost }} </li>   
                    <li> payers: 
                        {% for p in b.payers.all %} 
                        {% if p == request.user %}You{% else %}{{ p.first_name }} {{ p.last_name }}{% endif %}{% if not forloop.last %},{% endif %}{% empty %}none 
                        {% endfor %} 
                    </li>
                    {% if b.split %}
                        <li> Your split: {{ b.portion }} </li>
                    {% else %}
                        <li> bill is not being split </li>
                    {% endif %}
                    {% if b.completed %}
                        <li> Paid: Yes </li>
                    {% else %}
                        <li> Paid: No </li>
                    {% endif %}
                </ul>
                
            {% endfor %}
        </div>
    

        <div id="events" class="scroll posts">
            <div id="event-nav" class="post-nav">
                <h2 style="text-align: center;">Events for {{ events.first.server.group_name }}</h2>
                <a hx-get="{% url 'servers:add_event' events.first.server.id %}" hx-target="#dialog" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                      </svg>
                </a>
            </div>

            {% for e in events %}
            <a href="{% url 'posts:test_event' e.id %}"><h3>{{ e.post_name }}</h3></a>
            <a class="btn btn-sm btn-info" href="{%url 'posts:event' e.id %}">See Post</a>
            {% if e.creator == request.user %}
                <a class="btn btn-sm btn-outline-primary" hx-get="{%url 'servers:edit_event' e.id %}" hx-target="#dialog">Edit Event</a>
            {% endif %}
                <ul>
                    <li> description: {{ e.description }} </li> 
                    <li> date posted: {{ e.date_created | date:"l F d, Y" }} </li>    
                    <li> When is it: {{ e.date_time | date:"l F d, Y, h:i A"  }} </li>
                    <li> Original poster: {% if request.user == e.creator %} You {% else %} {{ e.creator }} {% endif %} </li>
                </ul>
            {% endfor %}

        </div>

    </div>

    <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this"></div>
      </div>

</body>
</html>
