{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Server {{ server.id }} </title>
    <link href="{% static 'servers/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        
        <div class="left">
            <h1 style="color: blue; font-size: x-large;">Server Name: {{ server.group_name }} </h1>
            <h4> Server Attributes </h4>
            <ul>
                {% for field_name, field_value in server_fields.items %}
                    <li>{{ field_name }}: {{ field_value }}</li><br>
                {% endfor %}
            </ul>
        </div>

        <div class="right">
            <div>
                <h3>Users</h3>
                <ul>
                    <!-- Will need to go through participation -->
                    {% for p in participations %}
                        <li>
                            <a href="{% url 'users:test_user' p.user.id %}">User Id: {{ p.user.id }}</a>
                            {% if p.is_owner %}
                                (Owner)
                            {% else %}
                                (Not Owner)
                            {% endif %}
                        </li>
                    {% endfor %}
            </div>
            <div>
                <h3>Posts</h3>
                <h4> Server Events </h4>    
                <ul>
                    <!-- how to use related name inside template -->
                    {% for event in server.posts_event_related.all %}
                        <li><a href="{% url 'posts:test_event' event.id %}"> Event Id: {{ event.id }}</a></li>
                    {% endfor %}
                </ul>
                <h4> Server Chores </h4>    
                <ul>
                    {% for chore in server.posts_chore_related.all %}
                        <li><a href="{% url 'posts:test_chore' chore.id %}"> Chore Id: {{ chore.id }}</a></li>
                    {% endfor %}
                </ul>
                <h4> Server Bills </h4>    
                <ul>
                    {% for bill in server.posts_bill_related.all %}
                        <li><a href="{% url 'posts:test_bill' bill.id %}"> Bill Id: {{ bill.id }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    
    </div>
</body>
</html>