<!-- 
    Eventually we can use this setup to extend Django Allauth templates
    I am calling it random.html for now but eventually this folder would be fiilled with html file(s) or templates...
    that share the same names as the allauth templates we want to customize 

    specifally this would be for the allauth/templates/account folder

    can either customize all templates individually or customize a few base templates

    See https://github.com/pennersr/django-allauth/blob/main/docs/common/templates.rst
    or https://docs.allauth.org/en/latest/common/templates.html for more details

    Currently not needed to change as we are using the django-allauth-ui library
 -->